{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/style.css'%}">
{% endblock %}

{% block content %}
  <div data-out-animation="scale-out" data-in-animation="jump-in" data-stagger="100" class="container overflow-hidden">
    <div class="hero wrapper">
      <span data-animate>Новая осенняя коллекция 2024</span>
      <h1 data-animate>Там - где стиль говорит, тренды отзываются, <br><i class="no-break">а мода процветает</i></h1>
      <p data-animate>Откройте для себя место, где мода гармонично сочетается с вашими индивидуальными <br> стилевыми устремлениями. Начните сегодня!</p>
      <a data-animate href="/store">Открыть магазин</a>
    </div>

    <div data-animate class="image-list">
      {% for product in products %}
        <div class="image-item">
          <img src="{{ product.image_preview.url }}" alt="{{ product.title }}">
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}