{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'collection/style.css' %}">
{% endblock %}

{% block title %}
  CHICX - {{ collection.title }}
{% endblock %}

{% block content %}
  <div data-out-animation="scale-out" data-in-animation="jump-in" data-stagger="50" class="container">
    <div data-animate class="image-list">
      {% for product in collection.products.all|slice:":3" %}
        <div class="image-item">
          <img src="{{ product.image_preview.url }}" alt="{{ product.title }}">
        </div>
      {% endfor %}
    </div>

    <div data-animate class="title wrapper">
      <img src="{{ collection.icon.url }}" alt="Иконка коллекции">
      <h1>/ {{ collection.title }}</h1>
    </div>

    <div data-animate class="subtitle wrapper">
      <p>{{ collection.description }}</p>
    </div>

    <div class="product-card-list">
        {% for product in collection.products.all %}
          <div class="product-card" data-id="{{ product.id }}" data-animate>
            <div class="product-image-container">
              <img class="product-image" loading="lazy" src="{{ product.image_preview.url }}" alt="{{ product.title }}">
              <button tabindex="0" class="product-card-button button button-light button-full">В корзину</button>
            </div>

            <a class="product-link" href="/products/{{ product.id }}">{{ product.title }}</a>
            <span class="product-description">{{ product.description }}</span>
            <span class="product-price">{{ product.price }} ₽</span>
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}